/* 
general 
-------
*/
body {
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
  }
  
  .container-fluid {
    background-color: rgba(255, 255, 255, 0.026) !important;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }
  
  .mainLayout .ant-layout-header {
    background: #f1f1f1;
    padding: 0;
    height: auto;
    line-height: 1.6;
  }
  
  
  
  /* 
  header
  ------ 
  */
  
  .ant-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  
  
  .header .logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .header .logo .fas {
    color: rgb(34, 37, 212);
    margin: 0 5px 0 0;
    font-size: 28px;
  }
  
  
  .header .logo a {
    color: rgb(34, 37, 212);
  }
  
  
  .header .ant-anchor-wrapper {
    background: none;
  }
  
  
  .header .ant-anchor {
    display: flex;
  }
  
  
  /* ink for mobile set up  */
  .header .ant-anchor-ink {
    display: none;
  }
  
  
  .header .ant-anchor-link {
    padding: 0 20px;
    line-height: 1.4;
    position: relative;
  } 
  
  
  .header .ant-anchor-link:before,
  .header .ant-anchor-link:after {
    content: '';
    background: rgb(34, 37, 212);
    width: 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  .header .ant-anchor-link:after {
    left: auto;
    right: 30%;
  }
  
  .header .ant-anchor-link.ant-anchor-link-active:before,
  .header .ant-anchor-link:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .header .ant-anchor-link.ant-anchor-link-active:after,
  .header .ant-anchor-link:hover:after {
    right: 5%;
    opacity: 1;
  }
  
  
  
  
  .mobileVisible {
    display: none;
  }
  
  .mobileHidden {
    display: block;
  }
  
  /* 
  responsive
  ----------
  */
  
  
  @media only screen and (max-width: 767px) {
  
    .mobileVisible {
      display: block;
    }
    
    .mobileHidden {
      display: none;
    }
  }